#genres_list > div {
    margin-top: 5px;
    margin-right: 10px; /* Adjust the spacing as needed */
}
#genres_list {
    display: flex;
    flex-wrap: wrap;
}

#genres_list > div {
    background-color: #FE6800;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#genres_list > div:hover {
    background-color: #FE6800;
}


.hover-info {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.genres-tooltip {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.hover-info:hover .genres-tooltip {
    display: block;
}


.uyuy7 {
    margin-bottom: 15px;
}

#priceLabel2 {
    display: inline-block;
    width: 100%;
    min-width: 40px;
    text-align: center;
}


.animate__animated {
    animation-duration: 1s;
}

.animate__fadeInUp {
    animation-name: fadeInUp;
}

.animate__fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
